<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytl.crm.mapper.task.exec.MarketingTaskBizInfoMapper">

    <select id="selectBizVirtualKeeperId" resultType="java.lang.String">
        SELECT DISTINCT(virtual_keeper_id) FROM t_a_marketing_task_biz_info
        WHERE trigger_record_code = #{triggerCode} AND is_valid = 1
    </select>

    <select id="selectExistBizCode" resultType="java.lang.String">
        SELECT biz_code FROM t_a_marketing_task_biz_info
        WHERE trigger_record_code = #{triggerCode}
        AND biz_code IN
        <foreach collection="bizCodes" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="listByItemCode" resultType="com.ziroom.ugc.crm.service.web.domain.entity.task.exec.MarketingTaskBizInfoEntity">
        SELECT t1.* FROM t_a_marketing_task_biz_info t1
        LEFT JOIN t_a_marketing_task_action_item_biz_relation t2 ON t1.logic_code = t2.task_biz_code
        WHERE t2.action_item_code IN
        <foreach collection="actionItemCodes" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
