<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytl.crm.mapper.task.exec.MarketingTaskTriggerRecordMapper">


    <select id="selectWaitCompensateRecordCode" resultType="java.lang.String">
        SELECT DISTINCT(t1.logic_code) FROM t_a_marketing_task_trigger_record t1
        LEFT JOIN t_a_marketing_task_action_exec_record t2 ON t1.logic_code = t2.trigger_code
        WHERE t1.create_time <![CDATA[ >= ]]> #{createTimeStart}
          AND t1.create_time <![CDATA[ <= ]]> #{createTimeEnd}
          AND t2.compensate_status = 'WAIT_EXEC'
    </select>
</mapper>
